ul.menu-list{
    margin: 0;
    padding: 0;
    background-color: inhert;
}

ul.menu-list>li a {
    color: #000;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}

ul.menu-list>li a:hover {
    background-color: #888;
    color: white;
}

ul.menu-list>li.active {
    background-color: #458fa1;
    color: white;
}