<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Hello window</title>
        <link rel="stylesheet" href="../../prism.css">

        <script src="../../prism.js"></script>
    </head>
    <body>
        <h4>This is a different process</h4>
        <h4>renderer.js</h4>
        <pre><code class="language-js">// This file is required by the index.html file and will
// be executed in the renderer process for that window.
// All of the Node.js APIs are available in this process.

const BrowserWindow = require('electron').remote.BrowserWindow
const path = require('path')

const newWindowBtn = document.getElementById('new-window')
newWindowBtn.addEventListener('click', function (event) {
    let modalPath = path.join('file://', __dirname, "/components/windows/window.html")
    let win = new BrowserWindow({ width: 800, height: 600 })
    win.on('close', function () { win = null })
    win.loadURL(modalPath)
    win.show()
})


const newFramelessWindowBtn = document.getElementById('frameless-window')
newFramelessWindowBtn.addEventListener('click', function (event) {
    let modalPath = path.join('file://', __dirname, "/components/windows/window.html")
    let win = new BrowserWindow({ frame: false, width: 1024, height: 768 })
    win.on('close', function () { win = null })
    win.loadURL(modalPath)
    win.show()
})
</code></pre>
        <br />
        <button id="close-btn">Close</button>
        <script>
            // var fs = require('fs');
            // var content = fs.readFileSync('./app/renderer.js');
            // var divEl = document.getElementsByClassName('language-js')[0];
            // divEl.innerHTML = content
            // Prism.highlightElement(divEl);

            const remote = require('electron').remote;
            document.getElementById("close-btn").addEventListener("click", function (e) {
                var window = remote.getCurrentWindow();
                window.close();
           });
        </script>
    </body>
</html>